<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SupportPlatfoms>
    <PlatformType>PC</PlatformType>
  </SupportPlatfoms>
  <Partner>sdfdsf</Partner>
  <Key>asdasdsa</Key>
  <GateWay>https://mapi.alipay.com/gateway.do?</GateWay>
  <VeryfyUrl>https://mapi.alipay.com/gateway.do?service=notify_verify&amp;</VeryfyUrl>
  <AlipayAccount>asdasd</AlipayAccount>
  <Logo>logo.gif</Logo>
</Config>