@{
ViewBag.ShowAside = 2;//显示返回顶部按钮 
}
@{Layout = "/Areas/Mobile/Templates/Default/Views/Shared/_Base.cshtml";}
<div class="container">
@{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_SearchBox.cshtml");}
<link rel="stylesheet" href="/Content/PublicMob/css/style.css" />
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/css.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/mycss.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/main.css" rev="stylesheet" type="text/css">
<link rel="stylesheet" href="/Areas/Admin/templates/common/style/head.css">

        <div class="members_con">
            <section class="members_special titlestyle1 center">
                <h2 class="j-title">
                    金六福珠宝微店铺
                </h2>
                <!--<p class="j-subtitle">『副标题』</p>-->
                <!--
            <b>更多</b>
        -->
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/m-wap/Product/Detail/398" title="多规格测试">
                                    
                                    
                                    <img src="/Storage/template/0/20160629/6360282253343228282126070.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/m-wap/vshop/CouponInfo/119" title="5">
                                    
                                    
                                    <img src="/Storage/template/0/20160629/6360282253103352786826488.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="pic-nav">
                    
                    
                     
                    <li class="lisw3">
                        <span><a class="goodsimg" href="http://192.168.1.121/m-Wap/activity/playdzp"><div class="son"><img src="/Storage/template/0/20160711/6360384743987255525748123.png"></div></a></span>
                        <a class="members_nav1_name" href="http://192.168.1.121/m-Wap/activity/playdzp"></a>
                    </li>
                    
                    
                     
                    <li class="lisw3">
                        <span><a class="goodsimg" href="http://192.168.1.121/m-Wap/IntegralMall/Index"><div class="son"><img src="/Storage/template/0/20160711/6360384744802002126732124.png"></div></a></span>
                        <a class="members_nav1_name" href="http://192.168.1.121/m-Wap/IntegralMall/Index"></a>
                    </li>
                    
                    
                     
                    <li class="lisw3">
                        <span><a class="goodsimg" href="/m-Wap/SignIn"><div class="son"><img src="/Storage/template/0/20160711/6360384745472240467363947.png"></div></a></span>
                        <a class="members_nav1_name" href="/m-Wap/SignIn"></a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_special titlestyle0 left">
                <h2 class="j-title">
                    活动专区
                </h2>
                <!--<p class="j-subtitle">『副标题』</p>-->
                <!--
            <b>更多</b>
        -->
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="pic-nav">
                    
                    
                     
                    <li class="lisw3">
                        <span><a class="goodsimg" href="#"><div class="son"><img src="/Content/Public/images/diy/waitupload.png"></div></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw3">
                        <span><a class="goodsimg" href="#"><div class="son"><img src="/Content/Public/images/diy/waitupload.png"></div></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                     
                    <li class="lisw3">
                        <span><a class="goodsimg" href="#"><div class="son"><img src="/Content/Public/images/diy/waitupload.png"></div></a></span>
                        <a class="members_nav1_name" href="#">导航名称</a>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_special titlestyle0 left">
                <h2 class="j-title">
                    新品推荐
                </h2>
                <!--<p class="j-subtitle">『副标题』</p>-->
                <!--
            <b>更多</b>
        -->
            </section>
        </div>
    
        <div class="members_con">
            
            <section class="members_goodspic">
                <ul>
                    
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a class="goodsimg" href=""><img src="/Content/Public/images/diy/goodsView1.jpg" ></a>
                            <span class="replace">&yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a class="goodsimg" href=""><img src="/Content/Public/images/diy/goodsView2.jpg" ></a>
                            <span class="replace"> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a class="goodsimg" href=""><img src="/Content/Public/images/diy/goodsView3.jpg" ></a>
                            <span class="replace"> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    <li class="mingoods">
                        <div class="b_mingoods_wrapper">
                            <a class="goodsimg" href=""><img src="/Content/Public/images/diy/goodsView4.jpg" ></a>
                            <span class="replace"> &yen;78.00<span class="original_price"><s>&yen;99.00</s></span></span>
                        </div>
                    </li>
                    
                </ul>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_nav2">
                <ul>
                    
                    
                    
                    <li><a href="http://192.168.1.8/m-Wap/"><span>首页</span></a><b></b></li>
                    
                    
                    
                </ul>
            </section>
        </div>
    @{Html.RenderPartial("~/Areas/Mobile/Templates/Default/Views/Shared/_4ButtonsFoot.cshtml");}
</div>
<a class="WX-backtop"></a>
<script src="~/Areas/Mobile/Templates/Default/Scripts/home.js"></script>
 <script src="~/Scripts/swipe-template.js"></script>
