# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
!/POS.Web/Client/log/
!/POS.Web/pos/log/

*.[Ll]og
.vs/
**/App_Data/

*.suo
*.user
*.userosscache
*.sln.docstates


# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!/POS.Common/Model/Packages/*
!/POS.Common/Result/Packages/*

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs
/POS.Web/upload/
!/POS.Web/pos/config/*
