<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Payment.Alipay_App</PluginId>
  <DisplayName>支付宝App支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.Alipay_App.Service,Himall.Plugin.Payment.Alipay_App</ClassFullName>
  <Description>支付宝App支付</Description>
  <PluginDirectory>E:\Project\2016.04.15_JuKuo_Himall2.3\SourceCode\src\Web\Himall.Web\plugins\Payment\Himall.Plugin.Payment.Alipay_App</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2016-05-19T10:54:43.4944614+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>