<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SupportPlatfoms>
    <PlatformType>Android</PlatformType>
  </SupportPlatfoms>
  <Partner>2088101600118305</Partner>
  <Key>key</Key>
  <Sign_type>RSA</Sign_type>
  <Private_key>MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBAK5DenevdvrGDh82HvODr05dgT5Vs44uBE5v9bInA5L2QAm5fdeewOn4XgKb67fjaIuFpnmYrqv0QkQ/xyLxsh5Swc6RxZKxhur5+snPZRoMJe1yWj5a5yDW8BpoBNd4p3CwbvI1Uomj45UBrgO8WJP3oPm194zKgE9t/RewRnIZAgMBAAECgYEAjrhBEsin3xZZ9oHys2mEJ+A4u36hAa76Y+saBIAjUzdOlyhNwkwInxaEmApu8TnUI4CgKTI8zCPOKes6AoqEXypd5w9c5Cy9X6KpxA6B3y/HYwhfBshSKHETwvVPnXt7yUVt5lCVmLMTYqxy6vNY4bsp1L1zyZC7nSlrqnNdIYkCQQDj1AxVL6cJttebyfZEuzVAz0ORMQ7JA3feJFpBGAkGT0m1xSkcsgQAwMmZ5EVy18UcLrdPPckMPVcSNeO3beNvAkEAw8/T72VNVlxf3v/oE/W2MpYwnrsDe8ERV6umxeQQmroJ4RLoRH9lcI8ynnLpepA6QeNzT75WqVY4clMVpHce9wJAK5qG7brcDljnNRLXRlpKG+hPNzeba891Hpf4iiLOf12nbtmYP7y2VWqQaxqsTAmN2RH71Xeuxd/rjTmxJocqkwJBAL8ZnWUOIKQgExC3/+865k4Idfrz2Tp1+k7tnx2SrwHSfsHCihwPmRh5KJWq4GJVUAXtzSQORtWM6BnrLDwOZZECQQCIx0o5RXlabjEh7Ww5+BucWOiKyFKpdM8QfWc/aCIYUX4b+TJGEq2tGkYEJOxj2aHMisW+KWEygnwy4ND6+Hhh</Private_key>
  <Public_key>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB</Public_key>
  <Seller_email>hishop@live.cn</Seller_email>
  <GateWay>http://wappaygw.alipay.com/service/rest.htm</GateWay>
  <VeryfyUrl>https://mapi.alipay.com/gateway.do?service=notify_verify&amp;</VeryfyUrl>
  <Logo>alipay.gif</Logo>
  <GetDataService>mobile.securitypay.pay</GetDataService>
</Config>